<div class="add_activity-container">
    <div class="col-md-12">
        <h3 class="signup-header">Add a new activity</h3>
        <hr>
        <br>
    </div>

    <div class="add_activity-form">
        
        <form class="form-horizontal" ng-submit="addActivity()">


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="title">Title</label>  
            <div class="col-md-5">
            <input id="title" name="title" ng-model="activity.title" type="text" class="form-control input-md">
                
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="lastname">Description</label>  
            <div class="col-md-5">
            <textarea id="description" name="description" ng-model="activity.description" rows="5" class="form-control input-md"></textarea>
                
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="signup"></label>
            <div class="col-md-5">
                <input type="submit" value="Add" class="btn btn-success btn-block" />
            </div>
        </div>

        </form>
    </div>

</div>